---
    import Layout from '../layouts/Layout.astro';
    ---
    <Layout title="ABOUT | Haru Torisawa">
        <h1>ABOUT</h1>
        <p>
Haru Torisawa



鳥澤 春

2003年東京都立川市生まれ。
2026年に武蔵野美術大学造形学部油絵学科油絵専攻を卒業後、同大学の共通絵画研究室に助手として在籍中。</p>
    </Layout>
    ```