---
    import Layout from '../layouts/Layout.astro';
    ---
    <Layout title="ABOUT | Haru Torisawa">
        <h1>ABOUT</h1>
        <p>
  Haru Torisawa<br /><br /><br /><br />
  鳥澤 春<br /><br />
  2003年東京都立川市生まれ。<br />
  2026年に武蔵野美術大学造形学部油絵学科油絵専攻を卒業後、<br />
  同大学の共通絵画研究室に助手として在籍中。
</p>
    </Layout>
    ```