---
    import Layout from '../layouts/Layout.astro';
    ---
    <Layout title="ABOUT | Haru Torisawa">
        <h1>ABOUT</h1>
        <p>ここに略歴を記載します。</p>
    </Layout>
    ```

まずはこのヘッダーの書き換えを試してみて、デザインの「枠組み」が意図通りになるか確認してみましょう！